<app-panel-box *ngFor="let post of allPosts">
    <span panel-title>

 <div class="clearfix">
      <h2 class="panel-title pull-left" style="">{{ post.postTitle }}</h2>
      <div class="btn-group pull-right">
        <a [routerLink]="['/create-issues',0]"   class="btn btn-default btn-sm">+ NEW</a>
       
      </div>
    </div>

    </span>
    <div panel-body>
      <div class="col-md-10">
        <p [innerHtml]="post.postDescription">
          
        </p>
        <p style="font-weight: bold;">Created By: {{ post.createdBy }}</p>
      </div>
      <div class="col-md-1">
        <button type="button btn-sm" class="btn" (click)="edit_issue(post)"><span class="glyphicon glyphicon-pencil"></span></button>
      </div>

      <div class="col-md-12">
         <hr>
      <button
        class="btn btn-primary btn-sm likes"
        id="{{ post._id }}"
        (click)="likes($event)"
        title="{{ post.likes }}">WATCH
        <span class="glyphicon glyphicon-eye-open"> {{ post.likes.length }}</span>
      </button> &nbsp;
      <button class="btn btn-danger  btn-sm" id="{{ post._id }}" (click)="delPost($event)">
        DELETE
      </button>&nbsp;
      <a [routerLink]="['/list-posts', post._id]" class="btn btn-info  btn-sm">VIEW</a>&nbsp;
      <button
        class="btn btn-success   btn-smcmtBtn"
        id="{{ post._id }}"
        (click)="showComments($event)"
      >
        COMMENTS
      </button>&nbsp;
    </div>
      <div [hidden]="true" class="cmtDiv" id="{{ post._id }}">
        <div class="addCmtDiv" id="{{ post._id }}">
          <form [formGroup]="addCmtForm" (ngSubmit)="addCmt( post._id,$event)" >
              <div class="form-group">
          <input
            type="text"
            placeholder="Add Comment"
            class="cmtText form-control"
            id="{{ post._id }}"
            formControlName="text"
          />
        </div>
          <button
            class="btn btn-primary addCmt"
            id="{{ post._id }}"
          >
            Add
          </button>
          </form>
        </div>
        <div *ngFor="let comment of post.comments">
          {{ comment.author }} --{{ comment.text }}
        </div>
    </div>
    </div>
  </app-panel-box>